body{
	position: fixed;
	height: 100%;
	width: 100%;
}

/* Audio */

.player{
	position: absolute;
	z-index: 1000;
	font-family: 'Roboto', sans-serif;
}
#myProgress {
	width: 250px;
	background-color: #dadada; 
	cursor: pointer;
	border-radius: 10px;
  }
  #myBar {
	width: 0%;
	height: 5px;
	background-color: white;
	border-radius: 10px;
  }
  .btn-action{
	cursor: pointer;
	padding-top: 10px;
	width: 30px;
  }
  .btn-ctn, .infos-ctn{
	display: flex;
	align-items: center;
	justify-content: center;
  }
  .infos-ctn{
  padding-top: 10px;
  }
  .infos-ctn > div {
   margin-bottom: 8px;
   color: white;
  }
  .title{
	width: 160px;
	text-align: center;
  }
  .player-ctn{
	width: 250px;
  }
  .playlist-track-ctn{
	display: flex;
	margin-top: 3px;
	border-radius: 5px;
	cursor: pointer;
  }
  .playlist-track-ctn > div{
	margin:10px;
  }
  .playlist-info-track{
	width: 80%;
  }
  .playlist-info-track,.playlist-duration{
	padding-top: 7px;
	padding-bottom: 7px;
	color: white;
	font-size: 14px;
	pointer-events: none;
  }
  .active-track{
	background: rgba(255, 255, 255, 0.514);
  }
  .active-track > .playlist-info-track,.active-track >.playlist-duration,.active-track > .playlist-btn-play{
	color: white !important;
  }
  .playlist-btn-play{
	pointer-events: none;
  }
  .fas{
	color: white;
	font-size: 20px;
  }

/* Время */

.clockpage {
	position: absolute;
	display: block;
	justify-content: center;
	top: 40%;
	left: 33%;
	color: white;
	font-size: 18px;
	z-index: 1000;
	margin-bottom: 20px;
	font-family: 'Roboto', sans-serif;
}
.time{
	font-size: 100px;
	font-weight: bold;
}
.date{
	font-size: 25px;
	align-items: center;
	margin-left: 23%;
}
#clock_three {
	font-family: 'Arial', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
	font-size: 30px;
	margin-top: 3%;
}
.name {
	background: none;
	border: none;
	color: #ffffff;
	text-align: left;
	font-size: 25px;
	margin-left: 10px;
}
.name:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
	background: none;
}
.name::-webkit-input-placeholder { color: rgb(195, 195, 195); }

/* Цитаты */

.change-quote {
	position: absolute;
	border: none;
	background: none;
	width: 70px;
	height: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 80%;
	left: 50%;
}
.change-quote:hover {
	width: 75px;
	height: 75px;
}
.change-quote_img {
	width: 100%;
	height: 100%;
}
.quote{
	position: absolute;
	color: black;
	border: none;
	background: none;
	color: white;
	font-size: 16px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	top: 90%;
	/* left: 20%; */
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Слайдер */

.slider {
	padding: 0;
	min-width: 0;
	margin: 0 auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;

}
.slider .slick-arrow{
	position: absolute;
	top: 50%;
	z-index: 1000;
	font-size: 0;
	width: 32px;
	height: 32px;
	border: none;
}
.slider .slick-arrow.slick-prev{
	left: 0;
	background: url('../assets/svg/slider-prev.svg') 0 0 / 100% no-repeat;
	margin-left: 20px;
}
.slider .slick-arrow.slick-next{
	right: 0;
	background: url('../assets/svg/slider-next.svg') 0 0 / 100% no-repeat;
	margin-right: 20px;
}
.slider__item{
	top:0;
    left:0; 
    width:100%;
    height:100%;
	background: #000;
}
.slider__item img{
	width: 100%;
	width: 100%;
	opacity: .7;
}
.slick-list {
	overflow: hidden;
}
.slick-track{
    display: flex;
	align-items: flex-start;
}

/* Погода */

