body{
	background-color: black;
	color: #ffffff;
}
.weather{
	display: block;
	align-items: flex-start;
}
#search {
	background: none;
	border: none;
	color: #ffffff;
	text-align: left;
	font-size: 25px;
	margin-left: 10px;
}
#search:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}
#search::-webkit-input-placeholder { color: rgb(195, 195, 195); }
hr{
	width: 200px;
}